html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width:100%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/img/login.jpg') no-repeat center center fixed;
  background-position: center;
  background-size: cover;
}

.panel-heading {
  text-align: center;
  font-weight: bold;
}
